<include file="Common/header" />
<!-- Start Page Banner -->
<div class="page-banner">
    <div class="row">
        <div class="col-lg-12 col-md-12" style="padding: 0 0 0 0;">
            <div class="home-slides owl-carousel owl-theme">
                <volist name="pagebanner" id="vo">
                    <div class="page-banner-area" style="background-image:url({$vo.image});
                                background-position: center center;
                                background-size: cover;
                                background-repeat: no-repeat;
                                padding-top: 150px;
                                padding-bottom: 150px;
                                position: relative;
                                z-index: 1;
                            ">
                        <div class="container">
                            <div class="page-banner-content">
                                <h2>{:L('OrderDetail')}</h2>
                                <ul>
                                    <li>
                                        <a href="index.html" style="color: #F4EC00;">{:L('home')}</a>
                                    </li>
                                    <li><i class="fa fa-chevron-right" style="color: #ffff"></i></li>
                                    <li>
                                        <a href="order.html" style="color: #F4EC00;">{:L('Order')}</a>
                                    </li>
                                    <li><i class="fa fa-chevron-right" style="color: #ffff"></i></li>
                                    <li style="color: #ffff">{:L('OrderDetail')}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </volist>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<!-- Start Wishlist Area -->
<section class="wishlist-area ptb-100">
    <div class="container" id="app">
        <div class="wishlist-table table-responsive">
            <div class="wishlist-title" style="background-color: #6a6a6a;
                    display: flex;
                    align-content: center;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;border-radius: 15px;">
                <i style="color: white;margin-right: 5%;font-size: 26px;" class='bx bxs-shopping-bag'></i>
                <h2 style="color: white;">{:L('OrderDetail')}</h2>
            </div>
            <div class="row">
                <p style="padding: 5%;">{:L('CardNo')}:{$list['0'].out_trade_no}</p>
            </div>
            <table class="table table-bordered">
                <tbody>
                    <volist name="list" id="vo">
                        <tr>
                            <td class="product-thumbnail">
                                <a style="width: 100px">
                                    <img src="{$vo.coverImg}" alt="item">
                                </a>
                            </td>
                            <td class="product-price">
                                <span class="unit-amount">{:L('ProductName')}: {$vo.name}</span>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">{:L('Price')}: ${$vo.price}</span>
                            </td>
                            <td class="product-price">
                                <span class="unit-amount">{:L('Quantity')}: {$vo.quantity}</span>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">Total: ${$vo.total}</span>
                            </td>
                        </tr>
                    </volist>
                    <tr>
                        <td colspan="2"></td>
                        <td>{:L('Total2')}: {$vo.sumqty}</td>
                        <td>{:L('discount')}: ${$order.deduMoney}</td>
                        <td>{:L('Total3')}: ${$order.allMoney}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        new Vue({
            el: '#app',
            data: { goodsId: '', },
            methods: {
                addCart: function (id) {
                    $.ajax({
                        url: "{:U('index/addCart')}",
                        type: 'post',
                        data: {
                            goodsId: id,
                        },
                        dataType: 'json',
                        success: function (json) {
                            if (json.code == '0') {
                                layer.msg(json.message);
                            } else {
                                layer.msg(json.message);
                            }

                        },
                    })

                },

                remove: function (id, index) {
                    $.ajax({
                        url: "{:U('index/addfavorite')}",
                        type: 'post',
                        data: { goodsId: id, },
                        dataType: 'json',
                        success: function (json) {
                            if (json.code == '0') {
                                layer.msg('請先登入');
                            } else {
                                $("#" + id).closest('tr').remove();
                                layer.msg('sucess');
                            }
                        },
                    })
                },
            }
        })

    })
</script>
<include file="Common/footer" />