<include file="Common/header" />
<!-- Start Page Banner -->
<div class="page-banner">
    <div class="row">
        <div class="col-lg-12 col-md-12" style="padding: 0 0 0 0;">
            <div class="home-slides owl-carousel owl-theme">
                <volist name="pagebanner" id="vo">
                    <div class="page-banner-area" style="background-image:url({$vo.image});
                                background-position: center center;
                                background-size: cover;
                                background-repeat: no-repeat;
                                padding-top: 150px;
                                padding-bottom: 150px;
                                position: relative;
                                z-index: 1;
                            ">
                        <div class="container">
                            <div class="page-banner-content">
                                <h2>{:L('myaccount')}</h2>
                                <ul>
                                    <li>
                                        <a href="index.html" style="color: #F4EC00;">{:L('home')}</a>
                                    </li>
                                    <li><i class="fa fa-chevron-right" style="color: #ffff"></i></li>
                                    <li style="color: #ffff">{:L('myaccount')}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </volist>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->
<style>
    .login-form button {
        border: none;
        margin-top: 25px;
        padding: 15px 30px;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        background-color: #d31531;
        color: #ffffff;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .login-form.mb-30 {
        margin-bottom: 30px;
        width: 450px;
    }
</style>
<!-- Start My Account Area -->
<section class="my-account-area ptb-100">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-6 col-md-12"> -->
            <div class="login-form mb-50">
                <h2 style="    color: #ba4700;">{:L('register2')}</h2>

                <!-- <form> -->
                <!-- <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" name="Username" placeholder="Username">
                                </div> -->

                <div class="form-group">
                    <label>{:L('name')}</label>
                    <input type="text" id="Name" class="form-control" name="Name" placeholder="{:L('name')}">
                </div>

                <div class="form-group">
                    <label>{:L('email')}</label>
                    <input type="text" id="Email" class="form-control" name="Email" placeholder="{:L('email')}">
                </div>

                <div class="form-group">
                    <label>{:L('phone')}</label>
                    <input type="text" id="Phone" class="form-control" name="Phone" placeholder="{:L('phone')}">
                </div>

                <div class="form-group">
                    <label>{:L('pw1')}</label>
                    <input type="password" id="Password" class="form-control tips" name="Password"
                        placeholder="{:L('pw1')}">
                </div>


                <button id="Register-btn" class="default-btn"
                    style="    display: inline-block;
                                                                padding: 15px 25px;
                                                                color: #ba4700;
                                                             border-radius: 15px;
                                                                -webkit-transition: 0.5s;
                                                                transition: 0.5s;
                                                                position: relative;
                                                                z-index: 1;
                                                                overflow: hidden;
                                                                border-radius: 30px;
                                                                background-color: #ffff;
                                                                border: 3px #ba470085 solid;
                                                                display: flex;
                                                                flex-wrap: wrap;
                                                                flex-direction: row;
                                                                align-items: center;
                                                                font-size: 26px;
                                                                text-align: center;
                                                                justify-content: space-evenly;">{:L('register1')}</button>

                <!-- </form> -->
            </div>

        </div>
    </div>
</section>
<!-- End My Account Area -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="__PUBLIC__/js/layer.js"></script>
<style>
    .text-danger {
        text-align: center;
    }
</style>
<script>
    jQuery(document).ready(function ($) {
        $("#Register-btn").click(function () {
            $('.text-danger').remove();
            $("input:password").bind("copy cut paste", function (e) {
                return false;
            });
            Name = $(".form-group input[name='Name']").val();
            Email = $(".form-group input[name='Email']").val();
            Phone = $(".form-group input[name='Phone']").val();
            Password = $(".form-group input[name='Password']").val();

            if ((!Name) || (!Email) || (!Phone) || (!Password)) {
                $('.tips').parent().after("<div class='text-danger'> " + "填寫完整資料" + "</div>");
                return false
            }
            var isEmail = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
            if (!(isEmail.test(Email))) {
                $('.tips').parent().after("<div class='text-danger'>" + "郵箱格式不正確" + "</div>");
                return false
            }
            if (Password.length <= 6) {
                $('.tips').parent().after("<div class='text-danger'>" + "密碼長度必須大於等於6" + "</div>");
                return false
            }
            $.ajax({
                url: "{:U('account/registerAdd')}",
                type: 'post',
                data: {
                    name: Name,
                    email: Email,
                    phone: Phone,
                    password: Password,
                },
                dataType: 'json',
                success: function (json) {
                    if (json['code'] == 2) {
                        $('.tips').parent().after("<div class='text-danger'>" + json['message'] + "</div>");
                    } else {
                        layer.msg('註冊成功');
                        setTimeout(function () {
                            location.href = "{:U('index/cate')}";
                        }, 1500);
                        // $('#register-btn').parent().after("<div class='text-danger'>" + json['message'] + "</div>");
                    }

                },
            });
        });
    });
</script>

<include file="Common/footer" />