.cbg-wrapper {
	margin:0;
	padding:0;
}
.cbg-cont {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
}

body.bgStretcher-container .bgstretcher {
	position:fixed;
	z-index:-1;
}

.bgstretcher {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:0;
}

.bgstretcher, .bgstretcher ul, .bgstretcher li {
	margin:0;
	padding:0;
	list-style: none; /* chrome/safari fix */
}

.cbg-parallax {
	position:relative;
	overflow:hidden;
	float:left;
}

.bgstretcher li {
	position:absolute;
}

/* === bgstretcher overlay === */
.bg-overlay {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: none transparent repeat;
	z-index:2;
}