<include file="Common/header" />

<title>服務條款</title>
<div class="d-flex justify-content-center align-items-center">
    <div>
        <div>1、服務條款的確認和接納 本網站及APP的各項內容和服務的所有權歸本公司擁有。用戶在接受本服務之前，</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;請務必仔細閱讀本條款。用戶使用服務，或通過完成注册程式，表示用戶接受所有服務條款。 </div>

        <div>2、用戶同意： </div>
        <div>&nbsp;&nbsp;&nbsp;（1）提供及時、詳盡及準確的個人資料。 </div>
        <div>&nbsp;&nbsp;&nbsp;（2）不斷更新注册資料、符合及時、詳盡、準確的要求。 如果用戶提供的資料不準確，本網站有結束服務的權利。</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本網站及APP將不公開用戶的姓名、地址、電子郵箱、帳號和電話號碼等資訊。</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（請閱隱私保護條款）。 用戶在本網站和APP的任何行為必須遵循： </div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; （1）傳輸資料時必須符合有關法規。</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; （2）使用資訊服務不作非法用途和不道德行為。</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; （3）不干擾或混亂網路服務。</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; （4）遵守所有使用服務的網路通訊協定、規定、程式和慣例。用戶的行為準則是以網絡法規，政策、程式和慣例為根據的。</div>
    </div>
</div>
</body>

<include file="Common/footer" />