<include file="Common/header" />
<!-- Start Page Banner -->

<style>
    @media only screen and (max-width: 767px) {

        .table-bordered td {
            border: none;
        }

        tr {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 10%;
        }

        .product-btn {
            border-bottom: 1px solid #dee2e6!Important;
        }
    }
</style>
<div class="page-banner">
    <div class="row">
        <div class="col-lg-12 col-md-12" style="padding: 0 0 0 0;">
            <div class="home-slides owl-carousel owl-theme">
                <volist name="pagebanner" id="vo">
                    <div class="page-banner-area" style="background-image:url({$vo.image});
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        padding-top: 150px;
                        padding-bottom: 150px;
                        position: relative;
                        z-index: 1;
                    ">
                    <div class="container">
                        <div class="page-banner-content">
                            <h2>{:L('Order')}</h2>
                            <ul>
                                <li>
                                    <a href="{:U('/')}" style="color: #F4EC00;">{:L('home')}</a>
                                </li>
                                <li><i class="fa fa-chevron-right" style="color: #ffff"></i></li>
                                <li style="color: #ffff">{:L('Order')}</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </volist>
                </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<!-- Start Wishlist Area -->
<section class="wishlist-area ptb-100">
    <div class="container" id="app">
        <div class="wishlist-table table-responsive" style="
        box-shadow: 0px 5px 32px 0px grey;border-radius: 15px;
    ">
            <div class="order-box" style="
                    padding:30px;
                    display: flex;
                    align-content: center;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;border-radius: 15px;">
                <i style="color: white;margin-right: 5%;font-size: 40px;" class='bx bxs-shopping-bag'></i>
                <h2 style="color: white;">{:L('OrderRecord')}</h2>
            </div>

            <table class="table table-bordered">
                <tbody>
                    <div class="row">
                        <volist name="list" id="vo">
                            <tr id="{$vo.id}">
                                <td class="product-name">
                                    <a href="{:U('account/orderlist')}?id={$vo.out_trade_no}">
                                        {:L('CardNo')}:</a>
                                    <a href="{:U('account/orderlist')}?id={$vo.out_trade_no}">
                                        {$vo.out_trade_no}</a>
                                </td>

                                <td class="product-price">
                                    <span class="unit-amount">
                                        ${$vo.allMoney}
                                    </span>
                                </td>

                                <td class="product-stock">
                                    <span class="stock">{:L('Quantity')}: {$vo.quantity}</span>
                                </td>

                                <td class="product-btn">

                                    <if condition="$vo['payStatus'] eq 1">

                                        <a href="{:U('account/orderlist')}?id={$vo.out_trade_no}" class="default-btn"
                                            style="background-color:{$vo.color};width:120px;text-align:center">
                                            <i class="flaticon-shopping-cart"></i>
                                            已付款
                                        </a>
                                        <else />
                                        <a href="{$vo.paypalLink}" class="default-btn"
                                            style="background-color:{$vo.color};width:120px;text-align:center">
                                            <i class="flaticon-shopping-cart"></i>
                                            付款
                                        </a>

                                    </if>
                                </td>
                            </tr>

                        </volist>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</section>
<include file="Common/footer" />