<include file="Common/head" />

<body>
    <!-- mainbox_ban -->
    <div class="mianbox_ban" id="app" v-cloak style="">
        <div class="mainbox_content">
            <div class="tableTit"><span class="listTitle">Customer Booking</span>
                <div class="d-flex align-items-end justify-content-end justify-content-around ">
                    <div>
                        <input type="text" class="serachInput w-100" placeholder="Search" name="name"
                            v-model='search_name' />
                        <i class="iconfont icon-search" @click="search"></i>
                    </div>
                </div>
            </div>
            <section>
                <div class="">
                    <table class="am-table">
                        <thead>
                            <tr>
                                <th>BookId</th>
                                <th>Name</th>
                                <th>Booking time</th>
                                <th>Phone</th>
                                <th>BranchId</th>
                                <th>AppointDetail</th>
                                <th>Staff Name</th>
                                <th>Have Package</th>
                                <th>BookingStatus</th>
                                <th>Edit Status</th>

                            </tr>
                        </thead>
                        <tbody id="tabledatas">
                            <tr v-for="(item,index) of list">
                                <td>{{item.id}}</td>
                                <td>{{item.user_name}}</td>
                                <td>{{item.booking_start_time}}</td>
                                <td>{{item.user_phone}}</td>
                                <td>{{item.branchId}}</td>
                                <td>{{item.appointmentDetail}}</td>
                                <td>{{item.stylist_name}}</td>
                                <td><span v-if="item.havePackage==1">Yes</span> <span v-else>No</span></td>
                                <td>{{item.status}}</td>
                                <td>
                                    <button type="button" class="am-btn am-round amtable_delbtn"
                                        @click=confirm(item.id,index,item.status)>Confirm</button>
                                    <button type="button" class="am-btn am-round amtable_delbtn"
                                        @click=cancel(item.id,item.book_id,index,item.status)>Cancel</button>
                                    <button type="button" class="am-btn am-round amtable_delbtn"
                                        @click=finish(item.id,item.book_id,index,item.status)>Finish</button>
                                    <button type="button" class="am-btn am-round amtable_delbtn"
                                        @click="addshow1('編輯','{:U('addshow1')}?id='+item.id,1000,700)"
                                        class="adminDoBtn">Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="13">
                                    <el-pagination background layout="prev, pager, next" :total="total"
                                        :page-size="page_size" @current-change="change_page">
                                    </el-pagination>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- mainbox_ban end -->
</body>

</html>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            total: 0, // 記錄總條數
            list: [],
            page_size: 15,
            search_name: '',
            typeList: [],
            tagsMoren: "選擇標簽",
        },
        created: function () {
            this.pageLoad(1);
        },
        methods: {
            pageLoad: function (page, name) {
                name = this.search_name;
                if (name == undefined) {
                    name = '';
                }
                var that = this;
                $.ajax({
                    url: "{:U('userbooking')}?pagesize=" + this.page_size + "&page=" + page + "&name=" + name,
                    dataType: "json",
                    type: "get",
                    success: function (res) {
                        that.list = res.data
                        that.total = res.count;
                        console.log(res.count);
                    }
                })
            },
            edit: function (title, url, w, h) {
                layer_show(title, url, w, h);
            },
            del: function (id, xh) {
                var that = this;
                layer.confirm('確認要刪除嗎？', function (index) {
                    $.ajax({
                        type: 'get',
                        url: '{:U("del")}?id=' + id,
                        dataType: 'json',
                        success: function (data) {
                            layer.msg(data.msg);
                            // if (data.status == 111) {
                            //     that.list.splice(xh, 1);
                            // }
                        },
                    });
                });
            },
            confirm: function (id, xh) {
                var that = this;
                layer.confirm('確認預約？', function (index) {
                    $.ajax({
                        type: 'get',
                        url: '{:U("confirm")}?id=' + id,
                        dataType: 'json',
                        success: function (data) {

                            layer.msg(data.msg);
                            location.reload();
                            // if (data.status == 111) {
                            //     that.list.splice(xh, 1);
                            // }
                        },
                    });
                });
            },
            finish: function (id, xh) {
                var that = this;
                layer.confirm('預約已完成？', function (index) {
                    $.ajax({
                        type: 'get',
                        url: '{:U("finish")}?id=' + id,
                        dataType: 'json',
                        success: function (data) {

                            layer.msg(data.msg);
                            location.reload();
                            // if (data.status == 111) {
                            //     that.list.splice(xh, 1);
                            // }
                        },
                    });
                });
            },
            cancel: function (id, book_id, index) {
                var that = this;
                layer.confirm('取消預約？', function (index) {
                    $.ajax({
                        url: "{:U('cancel')}?id=" + id + "&book_id=" + book_id,
                        dataType: "json",
                        type: "get",
                        success: function (res) {
                            layer.msg(res.msg);
                            location.reload();
                        }
                    })
                });
            },


            addshow1: function (title, url, w, h) {
                layer_show(title, url, w, h);
            },
            change_page: function (val) {
                this.pageLoad(val)
            },
            search: function () {
                this.pageLoad(1, this.search_name);
            },
            outData: function () {
                layer.msg('導出中...');
                location.href = "{:U('excel/outUser')}";
            },
            changeSelect: function (e, uid) {
                var dataType = type = e.target.value;
                if (dataType == '選擇標簽') {
                    return false;
                }
                console.log(dataType, uid);
                var that = this;
                $.ajax({
                    url: "{:U('setTags')}",
                    dataType: "json",
                    type: "post",
                    data: {
                        uid: uid,
                        name: dataType
                    },
                    success: function (res) {
                        layer.msg(res.msg);
                        that.pageLoad(1);
                    }
                })
            },
            tagsChangeSelect(e) {
                layer.load(1);
                var that = this;
                console.log(e.target.value)
                var dataType = type = e.target.value;
                if (dataType == '選擇標簽') {
                    return false;
                }
                var id_arr = [];
                var arr = $('input[name=id]');
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].checked) {
                        id_arr.push(arr[i].value);
                    }
                }
                var id_str = id_arr.join(',');
                if (id_str == false) {
                    layer.msg('請選擇用戶');
                    return false;
                }
                $.ajax({
                    url: "{:U('piliangSetTags')}",
                    dataType: "json",
                    type: "post",
                    data: {
                        id: id_str,
                        name: dataType
                    },
                    success: function (res) {
                        layer.closeAll('loading');
                        layer.msg(res.msg);
                        that.pageLoad(1);
                    }
                })
            },
        }
    })
    $('#delall').click(function () {
        var id_arr = [];
        var arr = $('input[name=id]');
        for (i = 0; i < arr.length; i++) {
            if (arr[i].checked) {
                id_arr.push(arr[i].value);
            }
        }
        var id_str = id_arr.join(',');
        if (id_str == false) {
            layer.msg('請選擇要刪除的項');
            return false;
        }
        layer.confirm('確認要刪除嗎？',
            function (index) {
                $.ajax({
                    url: "{:U('del')}" + "?id=" + id_str,
                    type: "get",
                    dataType: "json",
                    success: function (res) {
                        layer.msg(res.msg);
                        if (res.status == 111) {
                            setTimeout(function () {
                                location.reload();
                            },
                                900);
                        }
                    }
                })
            })
    })
    $("#checkall").click(function () {
        $('[name=id]:checkbox').attr('checked', this.checked); //checked為true時為默認顯示的狀態  
    });
    $("#checkrev").click(function () {
        //實現反選功能 
        $('[name=id]:checkbox').each(function () {
            this.checked = !this.checked;
        });
    });
</script>
<include file="Common/foot" />