<include file="Common/head" />
	<body>
		
		<div  style="width: 60%;margin: auto; padding: 60px 0; ">
		<form  id="form">		
		<input type="hidden" name="type"  value="2"  />	
		<input type="hidden" name="cateId"  value="0"  />	
			<div  class="adminInputGroup">
				<div  class="adminInputTitle">Product name</div>
				<div  class="adminInputLine"><input type="text"  name="name" value="{$info.name}"  /></div>

			</div>
			<div  class="adminInputGroup" >
				<div  class="adminInputTitle">Pictures</div>
				<div  class="adminInputLine"  style="position: relative;height: 55px" >
				<span  class="addPicBtn" ><i id="icon-shangchuan1" class="iconfont icon-shangchuan1"></i>&nbsp;Select Picture </span>
				<input  class="addPicInput"  id="id_myfile"  type="file"  placeholder="請選擇圖片" name="coverImg"     />
				<img  style="width: 100px;margin-left: 100px;position: absolute;z-index: 100;height: 60px;"   id="id_img" src="{$info.coverImg}">

				<div style="clear: both;"></div>

				
				</div>
			
			</div>





			<div  class="adminInputGroup">
				<div  class="adminInputTitle">Price</div>
				<div  class="adminInputLine"><input type="text" name="price" value="{$info.price}" /></div>
			
			</div>

			<div  class="adminInputGroup">
				<div  class="adminInputTitle">End Time</div>
				<div  class="adminInputLine"><input type="date" name="endDate" value="{$info.endDate}" /></div>
			
			</div>


		<!-- 	<div  class="adminInputGroup">
				<div  class="adminInputTitle">Stock</div>
				<div  class="adminInputLine"><input type="text" name="stock" value="{$info.stock}" /></div>
			</div> -->





		<!-- 	<div  class="adminInputGroup">
				<div  class="adminInputTitle">描述介紹</div>
				<div  class="adminInputLine">

				<textarea name="desc" class="descInput" >{$info.desc}</textarea>


				</div>
			
			</div>
 -->





			<div  class="adminInputGroup"   style="margin-top: 10px">
				<div  class="adminInputTitle">Whether the shelf</div>
				<div  class="adminInputLine2" style="margin-top: 7px" >
					<label >
						<input type="radio" name="isShow" class="demoHidden" value="1" <if condition="$info['isShow'] eq 1">checked="true"</if>   >
						<span class="radioInput"></span><span class="radioName" >Yes</span> 
					</label>
					<label style="margin-left: 30px" >
						<input type="radio" name="isShow" class="demoHidden" value="2" <if condition="$info['isShow'] eq 2">checked="true"</if> >
						<span class="radioInput"></span>
						<span  class="radioName" >No</span> 
					</label>
				</div>
			</div>


			
			


			<div  class="adminInputGroup"  style="text-align: center;">
				<span class="saveDoBtn">save</span>
			
			</div>



		</form>

		</div>
		
		
	</body>
</html>


<script type="text/javascript">

var id="{$info.id}";
if(id==false){
   var url="{:U('save')}?do=add";
}else{
   var url="{:U('save')}?do=edit&id="+id;
   $("#cateId option[value='"+"{$info.cateId}"+"']").attr("selected","selected"); 

}


$('.saveDoBtn').click(function(){

	var name=$('input[name=name]').val();
	var desc=$('.descInput').val();
	var price=$('input[name=price]').val();
	var stock=$('input[name=stock]').val();
	var endDate=$('input[name=endDate]').val();
	
	
	if(!name){
		layer.msg('Please enter a valid product name');
		return false;
	}
	// if(!desc){
	// 	layer.msg('請輸入有效的描述介紹');
	// 	return false;
	// }
	if(!price){
		layer.msg('Please enter a valid price');
		return false;
	}

	// if(!stock){
	// 	layer.msg('Please enter a valid stock');
	// 	return false;
	// }

	if(!endDate){
		layer.msg('Please enter a valid end time');
		return false;
	}

		layer.load(1);

	$.ajax({
			url:url,
			type:"post",
			dataType:"json",
			data:new FormData($('#form')[0]),
	    	processData:false,
	    	contentType:false,
			success:function(data){
				 layer.closeAll('loading');

				if(data.status==111){
                        layer.msg(data.msg);
                        setTimeout(function(){
                         parent.location.reload(); // 父頁面刷新
                         var index = parent.layer.getFrameIndex(window.name); //獲取窗口索引
                            parent.layer.close(index);
                        },500)
                    }else{
                        layer.msg(data.msg);
                	}



				
			}
		})
	
	
	

	
	
})

</script>


