<include file="Common/head" />

<body>
    <!-- mainbox_ban -->
    <div class="mianbox_ban" id="app" v-cloak>
        <div class="mainbox_content">
            <div class="tableTit">
                <div class="d-flex align-items-end justify-content-end justify-content-around ">
                    <span class="listTitle">Page Banner</span>
                    <div>
                        <input type="text" class="serachInput w-100" placeholder="Search" name="name" v-model='search_name' />
                        <i class="iconfont icon-search" @click="search"></i>
                    </div>
                    <div class="d-flex justify-content-end w-35 ">
                        <span @click="addshow('Create Banner','{:U('addshow')}',1000,620 )" class="adminDoBtn" style="float: right;">Create Page Banner</span>
                        <!-- <span class="adminDoBtn" style="float: right; " @click="outData">Export</span> -->
                    </div>
                </div>
            </div>
            <section>
                <div class="">
                    <table class="am-table">
                        <thead>
                            <tr>
                                <th width="70%">Title</th>
                                <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody id="tabledatas">
                            <tr v-for="(item,index)  of  list">
                                <td>{{item.title}}</td>
                                <td><button type="button" class="am-btn am-round amtable_btn" @click="addshow('Edit','{:U('addshow')}?id='+item.id,1000,700)">Edit</button><button type="button" class="am-btn am-round amtable_delbtn" @click=del(item.id,index)>delete</button></td>
                            </tr>
                            <tr>
                                <td colspan="13">
                                    <el-pagination background layout="prev, pager, next" :total="total" :page-size="page_size" @current-change="change_page">
                                    </el-pagination>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>



            </section>
        </div>



    </div>

    <!-- mainbox_ban end -->




</body>

</html>




<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            total: 0, // 記錄總條數
            list: [],
            page_size: 20,
            search_name: '',
            typeList: [],
            tagsMoren: "選擇標簽",

        },

        created: function() {

            this.pageLoad(1);
        },
        methods: {
            pageLoad: function(page, name) {

                name = this.search_name;
                if (name == undefined) {
                    name = '';
                }

                var that = this;
                $.ajax({
                    url: "{:U('index_data')}?pagesize=" + this.page_size + "&page=" + page + "&name=" + name,
                    dataType: "json",
                    type: "get",
                    success: function(res) {
                        that.list = res.data
                        that.total = res.count;
                    }
                })
            },


            edit: function(title, url, w, h) {
                layer_show(title, url, w, h);
            },

            del: function(id, xh) {
                var that = this;
                layer.confirm(' Are you sure you want to delete? ', function(index) {
                    $.ajax({
                        type: 'get',
                        url: '{:U("del")}?id=' + id,
                        dataType: 'json',
                        success: function(data) {
                            layer.msg(data.msg);
                            if (data.status == 111) {
                                that.list.splice(xh, 1);
                            }
                        },

                    });
                });

            },
            addshow: function(title, url, w, h) {
                layer_show(title, url, w, h);
            },

            change_page: function(val) {
                this.pageLoad(val)
            },
            search: function() {
                this.pageLoad(1, this.search_name);

            },
            outData: function() {
                layer.msg('導出中...');
                location.href = "{:U('excel/outGoods')}";

            },

            changeSelect: function(e, uid) {
                var dataType = type = e.target.value;

                if (dataType == '選擇標簽') {
                    return false;
                }

                console.log(dataType, uid);
                var that = this;
                $.ajax({
                    url: "{:U('setTags')}",
                    dataType: "json",
                    type: "post",
                    data: {
                        uid: uid,
                        name: dataType
                    },
                    success: function(res) {
                        layer.msg(res.msg);
                        that.pageLoad(1);
                    }
                })

            },

            tagsChangeSelect(e) {

                layer.load(1);


                var that = this;
                console.log(e.target.value)
                var dataType = type = e.target.value;
                if (dataType == '選擇標簽') {
                    return false;
                }


                var id_arr = [];
                var arr = $('input[name=id]');
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].checked) {
                        id_arr.push(arr[i].value);
                    }
                }
                var id_str = id_arr.join(',');

                if (id_str == false) {
                    layer.msg('請選擇用護');
                    return false;
                }


                $.ajax({
                    url: "{:U('piliangSetTags')}",
                    dataType: "json",
                    type: "post",
                    data: {
                        id: id_str,
                        name: dataType
                    },
                    success: function(res) {
                        layer.closeAll('loading');

                        layer.msg(res.msg);
                        that.pageLoad(1);
                    }
                })







            },



        }

    })



    $('#delall').click(function() {
        var id_arr = [];
        var arr = $('input[name=id]');
        for (i = 0; i < arr.length; i++) {
            if (arr[i].checked) {
                id_arr.push(arr[i].value);
            }
        }
        var id_str = id_arr.join(',');

        if (id_str == false) {
            layer.msg('請選擇要刪除的項');
            return false;
        }

        layer.confirm('確認要刪除嗎？',
            function(index) {

                $.ajax({
                    url: "{:U('del')}" + "?id=" + id_str,
                    type: "get",
                    dataType: "json",
                    success: function(res) {
                        layer.msg(res.msg);
                        if (res.status == 111) {
                            setTimeout(function() {
                                    location.reload();
                                },
                                900);
                        }
                    }
                })

            })

    })


    $("#checkall").click(function() {
        $('[name=id]:checkbox').attr('checked', this.checked); //checked為true時為默認顯示的狀態  
    });


    $("#checkrev").click(function() {
        //實現反選功能 
        $('[name=id]:checkbox').each(function() {
            this.checked = !this.checked;
        });
    });
</script>