<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    if (!urlParams.get('code')) {
        window.location.href = "{C('url')}";
    } else if (!urlParams.get('email')) {
        window.location.href = "{C('url')}";
    }
</script>
<include file="Common/header" />

<div class="standard-body" style="background-color:white">
    <div class="main-content full-width inner-page">
        <div class="container" style="height: 500px;margin-top: 100px;">
            <div class="col-sm-4">
                <label>New Password</label>
                <div class="form-group pass_show">
                    <input id="newpw" type="password" value="" class="form-control" placeholder="New Password">
                </div>
                <label>Confirm Password</label>
                <div class="form-group pass_show">
                    <input id="confirmpw" type="password" value="" class="form-control" placeholder="Confirm Password">
                </div>
                <button onclick="send()" style="margin-left:20px;margin-top:40px">Reset Password</button>
            </div>
        </div>
    </div>
</div>
<script>
    function send() {
        let confirmpw = document.getElementById('confirmpw');
        let newpw = document.getElementById('newpw');

        if (newpw.value != confirmpw.value) {
            alert('請驗證兩次輸入的密碼是否一致');
        } else if (confirmpw.value.length < 8) {
            alert('密碼需要大過或等於8個字');
        } else {
            $.ajax({
                url: "{:U('account/resetpw')}",
                type: 'post',
                data: {
                    email: urlParams.get('email'),
                    code: urlParams.get('code'),
                    password: confirmpw.value
                },
                dataType: 'json',
                success: function(res) {
                    if (res.code == 200) {
                        alert('成功更改密碼！');
                        setTimeout(function() {
                                location.href = "{:C('url')}";
                            }, 1000);
                    } else {
                        alert('Error');

                    }
                },
            })

        }

    }
</script>
<include file="Common/footer" />